<div>
  <label> All
    <input type="radio" value="All" [(ngModel)]="selectedRadioButtonValue" (change)="onRadioButtonSelectionChanged()">
  </label>
  <label> django developer
  <input type="radio" value="django developer" [(ngModel)]="selectedRadioButtonValue" (change)="onRadioButtonSelectionChanged()">
</label>
<label>
  spring boot developer
  <input type="radio" value="spring boot developer" [(ngModel)]="selectedRadioButtonValue" (change)="onRadioButtonSelectionChanged()">
</label>
<label>
  android developer
  <input type="radio" value="android developer" [(ngModel)]="selectedRadioButtonValue" (change)="onRadioButtonSelectionChanged()">
</label>
<label>
  MERN stack developer
  <input type="radio" value="MERN stack developer" [(ngModel)]="selectedRadioButtonValue" (change)="onRadioButtonSelectionChanged()">
</label>


</div>
