<div>
  <app-selector (filteredRadioButtonSelectionChanged)="onFilterProductRadioChange($event)" ></app-selector>
  <app-search-product (searchTextChange)="onSearchText($event)"></app-search-product>
  <ng-container  *ngFor="let profile of products;let i = index">
    <!--  *ngIf="selectedProducts === 'All' || selectedProducts === profile.role " -->
    <div *ngIf="searchText === '' || profile.role.toLowerCase().includes(searchText.toLowerCase()) " >
      <app-profile  [profile]="profile" [i]="i"></app-profile>
    </div>
  </ng-container>

</div>
